.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

main {
    top: 51px;
    padding: 20px;
}

body {
    padding: 30px;
    background-color: black;
    color: white;
}

.md{
    padding:0px;
    text-align:center;
}

.fade {
    opacity: 50;
    top: 150px;
}

.modal.fade .modal-dialog {
    transform: translate(0,0);
}

table.table, .modal-content {
    background-color: gray;
}

table button {
    width: 36px;
    height: 36px;
    font-size: 24px;
    line-height: 12px;
}

.table th, .table td {
    min-width: 180px;
    font-size: 24px;
}

a, a:visited {
    color: white;
}
