<!DOCTYPE html>
<html lang="ja" ng-app="WebDataEditor">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <title>CSV/TSV形式編集ツール（Web版）</title>
    </head>
    <body>
        <div ng-controller="EditorController">
            <h1>CSV/TSV形式編集ツール（Web版）</h1>
            <h2>編集対象のCSV/TSVファイルを読み込んでください</h2>
            <form enctype="multipart/form-data">
                <div class="form-group modal-content">
                    <div>
                        ファイル形式:
                        <select name="fileType" class="form-control" ng-model="fileType">
                            <option value="csv">CSV</option>
                            <option value="tsv">TSV</option>
                        </select>
                    </div>
                    <div>
                        改行コード：
                        <select name="lfCode" class="form-control" ng-model="lfCode">
                            <option value="crlf">CR+LF</option>
                            <option value="lf">LF</option>
                            <option value="cr">CR</option>
                        </select>
                    </div>
                    <input type="file" name="uploadFile" class="form-control" file-model="file">
                    <button ng-click="download()" ng-show="show">保存</button>
                    <table>
                        <tr ng-repeat="rows in list">
                            <td  ng-repeat="value in rows">
                                <input type="text" class="form-control" ng-model="value">
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <script src="./js/angular.min.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>
